In [1]:
import pandas as pd

from imdb import Cinemagoer

In [2]:
import os
import sys
import inspect

currentdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parentdir = os.path.dirname(currentdir)
sys.path.insert(0, parentdir)

### relevant fields:

**Keys**
- 'imdbID',
- 'title',

**Meta Data**
- 'original title',
- 'rating',
- 'director',
- 'runtimes',
- 'genres',
- 'box office',
- 'cover url',
- 'year', 
- 'top 250 rank',
- 'awards',
- 'akas',
- 'cast',

**Geo**
- 'country codes'
- 'countries',
- 'locations',
- 'language codes',


**Text**
- 'plot',
- 'plot outline',
- 'critic reviews',
- 'reviews',
- 'quotes'

In [3]:
'awards'  ???

SyntaxError: invalid syntax (<ipython-input-3-b8e4ab6ae799>, line 1)

# Get Movie Data

In [3]:
from profanity_detector.get_data import movie_data

In [4]:
movie_meta, quotes_df, reviews_df, locations_df = movie_data('matrix')

In [5]:
movie_meta

{'imdb_id': '0133093',
 'title': 'The Matrix',
 'rating': 8.7,
 'director': ['Lana Wachowski', 'Lilly Wachowski'],
 'runtime': '136 Min',
 'genres': ['Action', 'Sci-Fi'],
 'year': 1999,
 'box_office': '$463,517,383',
 'top_250_rank': 16,
 'cast': ['Keanu Reeves',
  'Laurence Fishburne',
  'Carrie-Anne Moss',
  'Hugo Weaving',
  'Gloria Foster'],
 'cover_url': 'https://m.media-amazon.com/images/M/MV5BNzQzOTk3OTAtNDQ0Zi00ZTVkLWI0MTEtMDllZjNkYzNjNTc4L2ltYWdlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SX101_CR0,0,101,150_.jpg',
 'akas': ['Matrix (Japan, English title)',
  'Matrix (France)',
  'Matrix (Germany)',
  'Matrix (Spain)',
  '黑客帝国 (China, Mandarin title)'],
 'countries': ['United States', 'Australia']}

In [12]:
quotes_df.head()

   imdb_id       title                                             quotes
0  0133093  The Matrix  Morpheus: This is your last chance. After this...
1  0133093  The Matrix  Agent Smith: I'd like to share a revelation th...
2  0133093  The Matrix  Spoon boy: Do not try and bend the spoon. That...
3  0133093  The Matrix  Neo: What are you trying to tell me? That I ca...
4  0133093  The Matrix  Morpheus: Neo, sooner or later you're going to...

In [13]:
reviews_df.head()

,content,helpful,title,author,date,rating,not_helpful,imdb_id
0,There are currently almost 2800 reviews on IMD...,39,The Matrix,ur2467618,22 February 2018,7.0,178,0133093
1,'The Matrix' may not be one of the very greate...,38,The Matrix,ur20552756,20 February 2017,9.0,10,0133093
2,"What is THE MATRIX? Well, let me tell you: it'...",14,The Matrix,ur0482513,26 August 2016,9.0,7,0133093
3,The Wachowski brothers have created one of the...,13,The Matrix,ur2898520,9 November 2013,9.0,6,0133093
4,"This is one of those movies that ""everyone"" ha...",17,The Matrix,ur0278527,20 August 2019,9.0,6,0133093

In [8]:
locations_df.head()

                                           locations  imdb_id       title
0  Nashville, Tennessee, USA::(exterior scenes: s...  0133093  The Matrix
1                 Sydney, New South Wales, Australia  0133093  The Matrix
2  Redfern, Sydney, New South Wales, Australia::(...  0133093  The Matrix
3  San Francisco, California, USA::(exterior scen...  0133093  The Matrix
4  Sydney Central Business District, Sydney, New ...  0133093  The Matrix

In [9]:
from profanity_detector.movie_features import create_word_cloud, plot_word_cloud

In [10]:
plot_word_cloud(create_word_cloud(quotes_df))

ValueError: We need at least 1 word to plot a word cloud, got 0.

In [11]:
plot_word_cloud(create_word_cloud(reviews_df))

TypeError: sequence item 0: expected str instance, int found